@import 'tailwindcss';

.tiptap {
  p {
    padding: 0 0 0 0.1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    padding: 0 0 0 0.1rem;
    text-wrap: pretty;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid #e5e7eb;
    cursor: pointer;
    margin: 0.1rem 0 0.1rem 0;

    &.ProseMirror-selectednode {
      border-top: 1px solid #d6d6d6;
    }
  }
}
